.event-date {
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
}

.event-time {
    font-size: 1.2em;
    color: #000;
}

.delete-btn {
    opacity: 0;
    transition: opacity .3s;
}

.delete-btn:hover {
    opacity: 1;
}

.list-item:hover .delete-btn {
    opacity: 1;
}

.bg-white {
    background-color: #fff;
}

.hoverable-cta {
    opacity: 0;
    transition: opacity .4s;
}

.hoverable:hover .hoverable-cta {
    opacity: 1;
}

.payment-mastercard {
    background-image: url(../images/mastercard.svg) !important;
}

.payment-xs {
    width: 2.49999rem;
    height: 1.5rem;
}

.cartTotalText {
    font-size: 1em;
    color: #000;
}

.grandTotalText {
    font-size: 1.8em;
    color: #000;
}