{% extends 'base.html' %}

{% block title %}
Banter : Login
{% endblock %}

{% block styles %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
<style>
    body {
        background: url("../../static/images/register_bg.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
{% endblock %}

{% block content %}

<div class="page page-center">
    <div class="container-tight py-4">
        <div class="text-center mb-4">
            <a href="." class="navbar-brand navbar-brand-autodark">
                <h1>Banter</h1>
            </a>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="container">
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form class="card card-md" action="/login" method="post" autocomplete="off">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Login to your account</h2>
                <div class="mb-3">
                    <label class="form-label">School ID</label>
                    <input name="id" type="text" class="form-control" placeholder="100XXXXXXX">
                </div>
                <div class="mb-2">
                    <label class="form-label">
                        Password
                        <span class="form-label-description">
                            <a href="#">I forgot password</a>
                        </span>
                    </label>
                    <div class="input-group input-group-flat">
                        <input id="inputPassword" name="pass" type="password" class="form-control"
                            placeholder="Password" autocomplete="off">
                        <a href="#" class="input-group-text" id="togglePasswordVisible">
                            <span href="#" class="link-secondary">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye-off"
                                    width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <line x1="3" y1="3" x2="21" y2="21"></line>
                                    <path d="M10.584 10.587a2 2 0 0 0 2.828 2.83"></path>
                                    <path
                                        d="M9.363 5.365a9.466 9.466 0 0 1 2.637 -.365c4 0 7.333 2.333 10 7c-.778 1.361 -1.612 2.524 -2.503 3.488m-2.14 1.861c-1.631 1.1 -3.415 1.651 -5.357 1.651c-4 0 -7.333 -2.333 -10 -7c1.369 -2.395 2.913 -4.175 4.632 -5.341">
                                    </path>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="mb-2">
                    <label class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <span class="form-check-label">Remember me on this device</span>
                    </label>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">Sign in</button>
                </div>
                <div class="text-center text-muted mt-4">
                    Don't have account yet? <a href="/register" tabindex="-1">Sign up</a>
                </div>
            </div>
        </form>

    </div>
</div>

{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}