{% extends 'base.html' %}

{% block title %}
Banter : Login
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}

<div class="signup-page">
    <div class="grid grid-2">
        <a href="#">
            <img class="signup-img" src="{{ url_for('static', filename='images/login_bg.jpg') }}" alt="">
        </a>
        <div class="signup-form flex-vertical">
            <img src="" alt="" style="width: 100px;" class="">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="container">
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="card">
                <div class="flex-vertical">
                    <h2 class="login-heading">Welcome to Banter</h2>
                    <!-- <div id="typed">
                        <p>Welcome to Banter</p>
                        <p>Welcome to your best campus life</p>
                    </div> -->
                    <p class="login-heading">Login to continue</p>
                </div>
                <form role="form" action="/login" method="post">
                    <div class="form-label-group">
                        <input name="id" type="text" id="school_id" class="form-control"
                            placeholder="School ID" required>
                        <!-- <label for="email">E-Mail</label> -->
                    </div>
                    <div class="form-label-group">
                        <input name="pass" type="password" id="inputPassword" class="form-control"
                            placeholder="Password" required>
                        <!-- <label for="inputPassword">Password</label> -->
                    </div>
                    <br>
                    <button class="btn btn-lg btn-primary-w btn-block btn-login text-uppercase font-weight-bold mb-2"
                        type="submit">Sign In</button>
                    <br>

                    <div class="flex flex-vertical">
                        <p>Not registered yet? No problem! Let's get you started.</p>
                        <a class="text-accent"
                            href="/register">Create Account</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}