{% extends 'base_w_header.html' %}

{% block title %}
Banter | Home
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="content">

        

        <section style="margin-bottom:16px; margin-top:30px">
            <h2>New Event</h2> 
            <form action="/insertevent" method="POST">

                <input type="text" name="name" placeholder="Name" required>  <br><br>
                <input type="text" name="description" placeholder="description" required> <br><br>
                <input type="text" name="location" placeholder="location"  required> <br><br>
                <input type="datetime-local" id="date_time" name="date_time" > <br> <br>

                <br>
                <br>
                <button id="btnSearchNow" type="submit" class="btn">Add Now</button>
            </form>
            
        </section>

        

    </div>
</div>
{% endblock %}