{% extends 'base_w_header.html' %}

{% block title %}
Banter | Home
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<script>
    function getData(date) 
    {
        var d = new Date(date);
        var options = {
            weekday: 'long',
            year: 'numeric',
            month: 'long',
            day: 'numeric'
        };
        var n = d.toLocaleDateString('en-US', options);
        var t = d.toLocaleTimeString('en-GB')
        var replase = n.replace(new RegExp(',', 'g'), ' ')
        document.getElementById("demo").innerHTML = replase
    }
</script>
<div class="container">
    <div class="content">
        <section style="margin-bottom:16px; margin-top:30px">
            <h2>Events around you</h2> 
            <form action="/addevent" method="GET" >
                <button id="btnSearchNow" type="submit" class="btn">Add New Event</button>
            </form>
            <div class="flex" style="gap:12px; flex-wrap: wrap;">
                {% for event in events %}
                <div class="event-card" style="width:500px">
                    <div class="flex space-between">
                        <div class="card-left">
                            <div class="event-header">
                                <p class="event-title">{{event.title}}</p>
                            </div>
                            <p class="event-desc">{{event.description }}</p>
                            <p class="event-location">{{event.location }}</p>
                        </div>
                        <div class="card-right">
                            <p class="event-date">{{event.date_time.date()}}</p>
                            <p class="event-time">{{event.date_time.time()}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

        

    </div>
</div>
{% endblock %}