{% extends 'base_w_header.html' %}
{% set page = "clubs" %}
{% block title %}
Banter | Clubs
{% endblock %}

{% block styles %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_styles.css') }}">
{% endblock %}

{% block content %}
<div class="page-wrapper">
    <div class="container-xl">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary mt-3 alert-dismissible mb-0 fade show" role="alert">
            <strong>{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- Page title -->
        <div class="page-header d-print-none">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Clubs
                    </h2>
                    <div class="text-muted mt-1">{{ clubs|length }} clubs</div>
                </div>
                <!-- Page title actions -->
                <div class="col-12 col-md-auto ms-auto d-print-none">
                    <div class="d-flex">
                        <div class="me-3">
                            <form action="/clubs/search" method='post'>
                                <div class="input-icon">
                                    <input type="text" name="searchTerm" value="" class="form-control" placeholder="Search…">
                                    <span class="input-icon-addon">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <circle cx="10" cy="10" r="7"></circle>
                                            <line x1="21" y1="21" x2="15" y2="15"></line>
                                        </svg>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-club">
                            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                            </svg>
                            Create club
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="grid">
                {% if clubs|length > 0 %}
                {% for club in clubs %}
                {% if club.tag =='ad' %}
                <div class="col-lg-4 col-md-6 col-12 grid-item p-2">
                    <div class="card">
                        <div class="card-img-top img-responsive img-responsive-21x9"
                            style="background-image: url({{ club.img_url }})">
                        </div>
                        <div class="ribbon bg-blue">Sponsored</div>
                        <div class="card-body">
                            <h3 class="card-title">
                                <a href="{{ club.ext_link }}" target="_blank">
                                    {{ club.title }}
                                </a>
                            </h3>
                            <p class="text-muted text-truncate">{{ club.description }}</p>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-lg-4 col-md-6 col-12 grid-item p-2">
                    <div class="card card-link card-link-pop">
                        <div class="card-img-top img-responsive img-responsive-21x9"
                            style="background-image: url({{ club.img_url }})">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">
                                <a href="/clubs/{{ club.id }}">
                                    {{ club.name }}
                                </a>
                            </h3>
                            <p class="text-muted text-truncate">{{ club.description }}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% else %}
                <div class="col-lg-12 grid-item px-2 py-2">
                    <div class="row align-items-center">
                        <div class="empty p-4">
                            <div class="empty-img"><img src="{{ url_for('static', filename='images/empty_3.svg') }}"
                                    height="128" alt="">
                            </div>
                            <p class="empty-title">No clubs have been added yet</p>
                            <p class="empty-subtitle text-muted">
                                Start your own club today!
                            </p>
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- <div class="d-flex">
                    <ul class="pagination ms-auto">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <polyline points="15 6 9 12 15 18"></polyline>
                                </svg>
                                prev
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">
                                next
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <polyline points="9 6 15 12 9 18"></polyline>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>

    <!-- Create Club Modal -->
    <div class="modal modal-blur fade" id="modal-club" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <form class="modal-content" action="/create-club" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title">New Club</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Club Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Type here...">
                    </div>
                    <div class="col-lg-12">
                        <div>
                            <label class="form-label">Club Description</label>
                            <textarea name="description" class="form-control" rows="3"
                                placeholder="Type here..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-label">Club Logo/Image</div>
                        <input name="file" type="file" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                        Cancel
                    </a>
                    <button type="submit" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                        Create club
                    </button>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}

    {% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    {% endblock %}